body {
    font-family: "Lato", Helvetica, Arial, sans-serif;
    color: white;
    height: 100%;
    background-image:url("/images/bg.png");
    background-repeat: repeat;
    background-size: 50%;
    background-color: rgb(59, 59, 59);
}

a {
    color: #00B7FF;
}

.navbar {
    padding-top: 0;
    background-image:url("/images/bg_dark.png");
    background-repeat: repeat;
    background-size: 50%;
    background-color: black;
}

.navbar-top {
    border-bottom: 1px solid #fff;
    height: 45px;
}

.navbar-bottom {
    border-top: 1px solid #fff;;
    height: 35px;
    font-size: 14px;
}

.nav-link {
    color: white;
}

.content {
    padding: 50px 5px 40px 5px;
}

.container {
    padding-left: 8px;
    padding-right: 8px;
}

.modal-title {
    color: black;
}

@media screen and (min-width: 601px) {
    .row-quest {
        font-size: 20px;
        min-height: 100px;
    }
    .img-quest>img {
        position: absolute;
        top: 50%;
        margin-top: -32px;
        left: 50%;
        margin-left: -32px;
        height: 64px;
        width: auto;
    }
}

@media screen and (max-width: 600px) {
    .row-quest {
        font-size: 10px;
        min-height: 60px;
    }
    .img-quest>img {
        position: absolute;
        top: 50%;
        margin-top: -20px;
        left: 50%;
        margin-left: -20px;
        height: 40px;
        width: auto;
    }
}

.row-quest {
    display: flex;
    align-items: center;
    margin: 5px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: #f7fcf6;
    padding: 2px;
}

.row-quest-desc {
    font-weight: 900;
    color: #3e3e3e;

    padding: 10px;
    margin:0;
    height: 100%;
}

.row-quest-desc p {
    margin:0;
}

.row-quest-btn-container {
    height: 100%;
    margin:0;
    padding: 1px;
}

.row-quest-btn {
    border-radius: 10px;
    border: 1px solid black;
    padding: 7px 0 5px 0;
    text-align: center;
    display: block;
    margin:0;
    height: 100%;
}

.row-quest-btn i{
    font-size: 30px;
}

.row-quest-btn-ok {
    color: #003007;
    background-color: rgba(87, 131, 93, 1);
    border-color: #003007;
}

.row-quest-btn-more {
    color: #010030;
    background-color: rgba(90, 107, 135, 1);
    border-color: #010030;
}

.btn-quest-group {
    background-color: #fadab5;
    box-shadow:
    0 1px 1px rgba(0,0,0,0.15),
    0 10px 0 -5px #eee,
    0 10px 1px -4px rgba(0,0,0,0.15);
    margin-bottom: 10px;
}

.btn-quest:hover {
    background-color: #dadada;
    border: 2px solid black;
    color: #636363;
    text-decoration: none;
}

.img-quest {
    position: relative;
}

.message-bloc {
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-group>label {
    border: 1px solid #454545;
}

.list-block {
    color: #636363;
    background-color: #f7fcf6;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
}

.font-smaller {
    font-size: 14px;
    font-weight: lighter;
}
