body {
    font-family: "Lato", Helvetica, Arial, sans-serif;
    background-color: rgb(0, 0, 0);
    color: white;
    height: 100%;
}

a {
    color: #00B7FF;
}

.navbar {
    background-color: #5d366d;
}

.navbar-top {
    border-bottom: 1px solid #FFFFFF;
    height: 45px;
}

.navbar-bottom {
    border-top: 1px solid #FFFFFF;
    height: 35px;
    font-size: 14px;
}

.nav-link {
    color: white;
}

.content {
    padding: 50px 5px 40px 5px;
}

.modal-title {
    color: black;
}

@media screen and (min-width: 601px) {
    .btn-quest {
        font-size: 25px;
        min-height: 100px;
    }
    .img-quest>img {
        max-height: 64px;
        width: auto;
    }
}

@media screen and (max-width: 600px) {
    .btn-quest {
        font-size: 10px;
        min-height: 60px;
    }
    .img-quest>img {
        max-height: 32px;
        width: auto;
    }
}

.btn-quest {
    display: flex;
    align-items: center;
    font-weight: 900;
    color: #000;
    background-color: #b6bab5;

    border-radius: 10px;
    border: 1px solid #5d366d;
    margin: 5px;
    padding: 10px;

}
.btn-quest-group {
    background-color: #a89177;
    box-shadow:
    0 1px 1px rgba(0,0,0,0.15),
    0 10px 0 -5px #aaa,
    0 10px 1px -4px rgba(0,0,0,0.15);
    margin-bottom: 10px;
}

.btn-quest:hover {
    background-color: #dadada;
    border: 2px solid black;
    color: #636363;
    text-decoration: none;
}

.img-quest {
    display: flex;
    justify-content: center;
}

.message-bloc {
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-group>label {
    border: 1px solid #454545;
}

.list-block {
    color: #636363;
    background-color: #f7fcf6;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
}

.font-smaller {
    font-size: 14px;
    font-weight: lighter;
}
